.header{
  background-image: url('../video/Mobile Marketing-bro.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

